<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>newsystem</display-name>
    <filter>
        <display-name>CharsetFilter</display-name>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.news.linglian.Filter.CharsetFilter</filter-class>
    </filter>
    <filter>
        <filter-name>IdenityFilter</filter-name>
        <filter-class>com.news.linglian.Filter.IdenityFilter</filter-class>
        <init-param>
            <param-name>excludedPages</param-name>
            <param-value>/user/login.jsp,/user/reg.jsp,/index.jsp,/token.do,/UserAction.do</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>IdenityFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/news/*</url-pattern>
        <url-pattern>/AdminAction.do</url-pattern>
        <url-pattern>/EmailAction.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ItemFilter</filter-name>
        <filter-class>com.news.linglian.Filter.ItemFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ItemFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>WXAction</servlet-name>
        <servlet-class>com.news.linglian.action.WXAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WXAction</servlet-name>
        <url-pattern>/WXAction.do</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/other/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/other/tips.jsp</location>
    </error-page>
</web-app>
